@font-face {
  font-family: "iconfont"; /* Project id 3469460 */
  src: url('iconfont.woff2?t=1655364269448') format('woff2'),
         url('iconfont.woff?t=1655364269448') format('woff'),
         url('iconfont.ttf?t=1655364269448') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-gengduo:before {
  content: "\e719";
}

.icon-shangjiantou:before {
  content: "\e628";
}

.icon-xiajiantou:before {
  content: "\e629";
}

.icon-gouwuche:before {
  content: "\e609";
}

.icon-gouwuche-:before {
  content: "\e60a";
}

.icon-shangcheng:before {
  content: "\e60c";
}

.icon-pinglun-:before {
  content: "\e60d";
}

.icon-zhuanfa:before {
  content: "\e60e";
}

.icon-shouye:before {
  content: "\e60f";
}

.icon-shanchu:before {
  content: "\e610";
}

.icon-xitong-:before {
  content: "\e611";
}

.icon-wode-:before {
  content: "\e612";
}

.icon-xihuan:before {
  content: "\e613";
}

